YM_API_KEY=ACMA:xxx:xxx
YM_BUSINESS_ID=000000000
YM_CAMPAIGN_ID=000000000
PORT=3030
SUPPLIER_FEED_URL=https://admin.stutzen-ug.ru/system/unload_prices/.../yandex_market.xml?rand=...
# SYNC_CRON=0 * * * *
# SUPPLIER_CRON=0 * * * *          # расписание ПРОВЕРКИ фида поставщика (дефолт: каждый час)
# SUPPLIER_STALE_HOURS=6           # порог: импортим, если предыдущее успешное чтение было > N часов назад (дефолт 6)
# FEED_CRON=0 * * * *              # генерация нашего YML-фида (дефолт: раз в час)
