YM_API_KEY=ACMA:xxx:xxx
YM_BUSINESS_ID=000000000
YM_CAMPAIGN_ID=000000000
PORT=3030
SUPPLIER_FEED_URL=https://admin.stutzen-ug.ru/system/unload_prices/.../yandex_market.xml?rand=...
# SYNC_CRON=0 * * * *
# SUPPLIER_CRON=0 */6 * * *   # чтение фида поставщика (дефолт: раз в 6 часов)
# FEED_CRON=0 * * * *         # генерация нашего YML-фида (дефолт: раз в час)
