YM_API_KEY=ACMA:xxx:xxx
YM_BUSINESS_ID=000000000
YM_CAMPAIGN_ID=000000000
PORT=3030
SUPPLIER_FEED_URL=https://admin.stutzen-ug.ru/system/unload_prices/.../yandex_market.xml?rand=...
# SYNC_CRON=0 * * * *
